body {
    margin-top: 15vh;
    font-size: 1.2em;
    text-align: center;
    background: linear-gradient(to right, red, yellow) no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

h2 {
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.2em;
}

h3 {
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.01em;
}
